version: 2
defaults: &defaults
  working_directory: ~/wirebot
  docker:
    - image: circleci/node:9.8.0
jobs:
  build:
    steps:
      - restore_cache:
        keys:
          - wirebot-dependency-cache-{{ checksum "package.json" }}
      - setup_remote_docker
      - checkout
      - run:
        command: npmv=$(echo $(npm -v) | head -c 1); if [ "$npmv" -lt "6" ]; then npm i -g npm; else echo "npm v6+ exists in Dockers latest image; you can remove this script now"; fi
      - run:
        name: Install packages
        command: npm ci
      - save_cache:
          key: wirebot-dependency-cache-{{ checksum "package.json" }}
          paths:
            - /caches/app.tar
            - /opt/circleci/nodejs/9.8.0/lib/node_modules/npm
            - /node_modules
  test:
    <<: *defaults
    steps:
      - run:
          name: Run tests
          command: npm test
      - persist_to_workspace:
          root: coverage
          path: lcov.info
  coverage:
    <<: *defaults
    environment:
      CC_TEST_REPORTER_ID: $CC_TEST_REPORTER_ID # set this in the circleci dash
    steps:
      - attach_workspace:
        at: coverage
      - run:
        name: Setup Code Climate test-reporter
        command: |
          curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
          chmod +x ./cc-test-reporter
      - run:
          name: Send coverage to Code Climate
          command: ./cc-test-reporter upload-coverage coverage/lcov.info
  deploy:
    <<: *defaults
    environment:
      PROJECT_NAME: wire-bot
    steps:
      - run:
        name: Build and deploy application
        command: chmod +x .circleci/deploy.sh && .circleci/deploy.sh
workflows:
  version: 2
  test-deploy:
    jobs:
      - test:
        requires:
          - build
      - coverage
      - deploy:
        requires:
          - build
          - test
        filters:
          branches:
            only:
              - master
              - staging
